.vip-card{
	width: 80%;
	position: absolute;
	top:15px;
	left: 10%;
	height: 180px;
	margin: 0 auto;
	border-radius: 10px;
	background: url(../images/vipcard.png) no-repeat;
	background-size:100% 100%;

}
.vip-card p{
	font-size: 18px;
	font-weight: normal;
}
.vip-card h4{
	font-size: 11px;
	font-weight: normal;
}
.vip-title{
	text-align: center;
	padding-top: 10px;
	color:#E6E6E6;
}
.vip-left{
	position: absolute;
	left: 10px;
	bottom: 10px;
	color: #e6e6e6;
}
.vip-right{
	position: absolute;
	right: 10px;
	bottom: 10px;
	color: #e6e6e6;
}
.up-background{
	background-color: #333333;
	height: 160px;
	font-size: 12px;

}
#points-add::before{
	border-top: 0px;
}
.middle-background{
	padding-top: 10%;
	background-color: #fff;
	font: STHeiti;
}
.middle-background a{
	padding: 15px 15px;
}
.down-background{
	margin-top: 40px;
	background-color: #fff;

}


#point-pay-btn{
	margin-top: 20px;
	width: 50%;

}
#mypoint{
	padding-top: 20px;
}
.point-pay-info{

	margin-top: 20px;
	font-size: 13px;
	line-height: 20px;
	color: #999999;
	padding: 10px;
}
.point-pay-info p{
	padding-bottom: 5px;
}

.middle-title{
	padding-left: 10px;
}


